venv
French_words
__pycache__
fr.csv
.~lock.final_result_enhanced1.csv#v
received_audio.mp3
Record (online-voice-recorder.com) (1).mp3
audio_results.csv
audio_results.csv_1
audio_results.csv_2
French_Online_words
new words slang
swearwords in French_Online_words
SLANG AND SWEAR WORDS FRENCH
swear words in french
french words only
French_mp3_only
cmudict.csv
fr1 .csv
testing
cmudict.csv
French_mp3_wav__only
wav
wav_1
wav_2
wav_3
results.csv